

nav{
    color: #396E94;
    background-color:palegreen;
    border-block-end-color: #396E94;
    display: flex;
    justify-content: space-around;
    grid-row: auto;
    padding: 50px 50px;
    position: relative;
   
  }
  .logo{
    display:inline-block;
    margin:zero

  }
  }
  header{
    display: grid;
    grid-template-columns: 150px auto;
}
.content1{
  display: grid;
 grid-template-columns: 1fr 1fr;
}
#logo.png {
    padding-top: 10px;
    justify-self: center;
    align-self: center;
}
H1{ 
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
 
}
p{
  background-color: powderblue;
  margin-top: 25px;
}
body{
  margin: 0;
}
img {
  border:5px solid turquoise;margin: 10px 5px;

}
footer a:hover{
  background-color: gray; }