header{
  display: grid;
  grid-template-columns: 150px auto;
}
body{
    margin: 40px;
  }
  
nav{

    color: #396E94;
    background-color:palegreen;
    border-block-end-color: #396E94;
    display: flex;
    justify-content: space-around;
    grid-row: auto;
}

#logo_link  {
 padding-top: 5px;}
h1{ 
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  align-content: left;
  display: grid;
  grid-template-columns:1fr 1fr;
}

h2{
  top:10px
}
p{
  background-color: powderblue;
  margin-top: 25px;
  column-span: none;
  text-align: left;
  grid-column: 2/4;
  grid-row: 3/4;
}

body{
  margin: 0;
}

img {
  border:5px solid turquoise;margin: 10px 5px;


}
footer a:hover{
  background-color:pink; 
  text-align: right;
  
}